
@font-face {
  font-family: 'Lato';
  src: local('Lato'), url(./font/Lato/Lato-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Lato';
    font-weight: 900;
    src: local('Lato'), url(./font/Lato/Lato-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Lato';
    font-weight: 900;
    src: local('Lato'), url(./font/Lato/Lato-Black.ttf) format('truetype');
}

body{
  font-family: Lato, Arial, serif;

}

.bounce-rocket{
  animation: bounceRocket .3s ease alternate;
  animation-iteration-count: 6;
  animation-delay: 1.5s;
}

@keyframes bounceRocket{
  0% {transform: translateY(0px);}
  100% {transform: translateY(-10px);}
}

.aa-dropdown-menu {
  
  position: absolute;
  z-index: 12;
}

.aa-input-search{
  max-width: 254px;
    border-radius: 22px;
    margin-left: 20px;
}

@media (max-width: 591px) {
  .aa-input-search{
    max-width: 170px;
     
  }
 }   